.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
  text-align: left;
}

.cardContainer {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}
