@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Montserrat', sans;
  box-sizing: border-box;
}

:root{
  --color1: #103538;
  --color2: #739885;
  --color3: #DBD09D;
  --color4: #D8B058;
  --color5: #D96851;
  --neutral: #ededed;
}

body{
  overflow-y: hidden;
}



